@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&family=Cormorant:wght@300;500;600&display=swap');

/*

BROWSER SCROLLBAR KITS

*/

/* CHROME & SAFARI */
html::-webkit-scrollbar {
  width: 8px; 
}

html::-webkit-scrollbar-track {
background-color: transparent;
}

html::-webkit-scrollbar-thumb {
background: #cf9459;
border-radius: 8px;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}

/* MOZILLA FIREFOX */
html::-moz-scrollbar {
  width: 8px; 
}

html::-moz-scrollbar-track {
background-color: transparent;
}

html::-moz-scrollbar-thumb {
background: #cf9459;
border-radius: 8px;
}

html::-moz-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

html::-moz-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}


/* MICROSOFT INTERNET EXPLORER */
html::-ms-scrollbar {
  width: 8px; 
}

html::-ms-scrollbar-track {
background-color: transparent;
}

html::-ms-scrollbar-thumb {
background: #cf9459;
border-radius: 8px;
}

html::-ms-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

html::-ms-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}

/* OPERA */
html::-o-scrollbar {
  width: 8px; 
}

html::-o-scrollbar-track {
background-color: transparent;
}

html::-o-scrollbar-thumb {
background: #cf9459;
border-radius: 8px;
}

html::-o-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

html::-o-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}




/*

GENERICS

*/
* {
  margin: 0;
  padding: 0;
  /* font-family: 'Cairo', sans-serif;
  font-family: 'Cormorant', serif; */
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1;
  color: #242424;
  scroll-behavior: smooth;
  overflow: overlay;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
}

img {
  transform: translateY(50%);
  opacity: 0;
  transition: all 1000ms ease;
}

.fade {
  transform:translateY(0);
  opacity: 1.0;
  transition: all 1000ms ease;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

button {
  border: none;
  text-align: center;
  font-family: 'Cormorant', serif;
  transition: all 300ms ease;
  cursor: pointer;
}

.row {
  width: 50%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maroon {
  color: #cf9459;
}

.no-cursor {
  cursor: not-allowed;
}




/*

Hero Section

*/

/* NAVIGATION BAR */
.nav__bar {
  position: relative;
  padding: 1em;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo__wrapper {
  width: 12%;
}

.logo {
  width: 100%;
  max-width: 260px;
  min-width: 120px;
}

.nav__link--list {
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__link {
  font-family: 'Cairo', sans-serif;
  padding: 0 1em;
}

.nav__link--anchor {
  font-weight: 700;
  color: #cf9459;
  padding: 0 1.6rem;
  transition: all 300ms;
}

.nav__link--anchor:hover {
  color: #fff;
}

.nav__link--anchor-plan {
  border: 2px solid #cf9459;
  background-color: #cf9459;
  color: #fff;
  border-radius: 8px;
}

.nav__link--anchor-plan:hover {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}

.nav__container--mobile {
  display: none;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: #cf9459;
  display: none;
  transition: all 300ms ease;
}

.btn__menu:hover{
  transform: scale(1.1);
  color: #fff;
}

.menu__backdrop {
  position: absolute;
  background-color: #cf9459;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
  transition: all 300ms ease;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  transition: all 300ms ease;
}

.menu__link:hover {
  color: #242424;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
  transition: all 300ms ease;
}

.btn__menu--close:hover {
  transform: scale(1.2);
  color: #242424;
}


/* CONTENT */
main {
  position: relative;
}

.hero__img {
  position: absolute;
}

.hero__title {
  line-height: 1;
  font-size: 16rem;
  font-family: 'Cormorant', serif;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
}

.scroll {
  position: relative;
  margin: 12em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon {
  width: 30px;
  height: 45px;
  border: 4px solid #fff;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon::after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #fff;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(5px);
  }
  
  100% {
    transform: translateY(-5px);
  }
}

.hero__subtitle {
  font-size: 3.2rem;
  font-weight: 900;
  font-family: 'Cormorant', serif;
  color: #fff;
  text-shadow: 0.5px 0.5px #242424;
  text-align: center;
  display: flex;
  justify-content: center;
}




/*

GUIDE SECTIONS' GENERICS

*/
.header__txt {
  width: 70%;
  padding: 1.6em;
  display: flex;
  flex-direction: column;
}

.header__title {
  font-size: 6.4rem;
  font-family: 'Cormorant', serif;
  margin-bottom: 0.8em;
}

.header__para {
  line-height: 2;
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Cairo', sans-serif;
  margin: 0.8em 0;
}

.img__wrapper--right {
  width: 50%;
}

.img__wrapper--right img {
  width: 100%;
}

#about__btn {
  margin: 0 auto;
  background-color: #cf9459;
  color: #fff;
  border-radius: 8px;
  border: 2px solid #cf9459;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  padding: 0.4em;
  display: flex;
  align-items: center;
}

#about__btn:hover {
  background-color: transparent;
  color: #cf9459;
  transform: scale(1.02);
}


/* RIGHTIES */
#header,
#nile-river,
#aqua,
#wtr-sprts,
#architect,
#people {
  width: 100%;
  margin: 25.6em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* LEFTIES */
#cairo,
#mount-moses,
#beaches,
#safari,
#cuisine,
#neo-cities {
  width: 100%;
  margin: 25.6em 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#neo-cities {
  margin-bottom: 3.2em;
}


/* CLOUDS */
#application {
  position: relative;
  background-image: url(./Assets/application.png);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.application__title {
  font-size: 9.6rem;
  font-family: 'Cairo', sans-serif;
  color: #fff;
  margin: 18em 0 1.6em;
}

.application__subtitle {
  font-size: 4rem;
  font-family: 'Cairo', sans-serif;
  color: #fff;
  text-align: center;
}

#form__tray {
  background-color: #fff;
  opacity: 0.7;
  min-width: 657px;
  min-height: 657px;
  border-radius: 8px;
  margin: 10.4em 0;
  padding: 3.2em 1.6em;
  display: flex;
  flex-direction: row-reverse;
}

#functionality__bar {
  background-color: transparent;
  width: 20%;
  margin-left: 1.6em;
  padding: 3.2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__icon {
  position: relative;
  color: #cf9459;
  font-size: 4rem;
  margin: 0.4em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}

.form__icon--name {
  visibility: visible;
}

.form__icon--name {
  font-size: 1.6rem;
  font-family: 'Cairo' sans-serif;
  text-align: center;
  margin: 0.6em 0;
  padding: 0 0.6em;
  transition: all 300ms ease;
}

.loading__message {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loading__message--spinner {
  background: transparent;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    box-shadow: 2px 8px 4px #4BA7A7;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 2px 8px 4px #10fcfc;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 2px 8px 4px #4BA7A7;
  }
}

.swift__animation {
  animation-name: swift;
  animation-duration: 0.3s;
}

@keyframes swift {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#next__btn, #submit__btn {
  background-color: #cf9459;
  color: #fff;
  border: 2px solid #cf9459;
  border-radius: 4px;
  font-size: 3.2rem;
  font-weight: 500;
  font-family: 'Cormorant' serif;
  padding: 0.2em 0.4em;
  transition: all 300ms ease;
}

#next__btn:hover, #submit__btn:hover {
  background-color: #fff;
  color: #cf9459;
}

#next__btn:active, #submit__btn:active {
  background-color: #cf9459;
  color: #fff;
  transform: scale(0.8);
}

#first__form, #second__form, #form__success {
  background-color: #cf9459;
  border-radius: 8px;
  width: 70%;
  padding: 2.4em;
  display: flex;
  flex-direction: column;
}

#form__success {
  padding-top: 12em;
}

#booking {
  margin-top: 4.8em;
}

.form__title {
  font-size: 4rem;
  font-family: 'Cormorant' serif;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

#contact__form {
  margin: 4.8em 0;
}

.form__item {
  margin-bottom: 3.2em;
}

.form__item--select {
  display: flex;
  flex-direction: column;
}

.form__item--label {
  font-size: 2.4rem;
  color: #fff;
}

input, select {
  font-size: 2.4rem;
  font-weight: 500;
  font-family: 'Cairo' sans-serif;
  background-color: #fff;
  color: #242424;
  width: 100%;
  margin-top: 0.8em;
  padding: 0.4em;
  outline: none;
  border: none;
  height: 40px;
  transition: all 300ms ease;
}

select {
  padding: 0.1em;
}

#form__success {
  margin: 0 auto;
}

#form__success h3 {
  font-weight: 900;
}

.check {
  color: #fff;
  font-size: 16rem;
  margin: 0.2em 0.8em;
  display: flex;
  justify-content: center;
}

.confirm__msg {
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 0.2em;
  text-align: center;
}




/*

FOOTER

*/
footer {
  background-color: #242424;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container {
  width: 90%;
}

.footer__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__content {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.logo__wrapper--footer {
  width: calc(100% / 3);
  padding: 56px;
}

.logo__footer {
  width: 80%;
}

.address__wrapper {
  width: calc(100% / 3);
  padding: 8px;
  text-align: center;
}

.address {
  font-size: 1.6rem;
  line-height: 2;
  color: #fff;
}

.side__info {
  width: calc(100% / 3);
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__links {
  width: 100%;
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.footer__link {
  width: calc(80% / 3);
  text-align: center;
  margin: 0 0.2em;
}

.footer__link--anchor {
  color: #fff;
  font-size: 12px;
  text-align: center;
  transition: all 250ms ease;
}

.footer__link--anchor:hover {
  color: #cf9459;
}

.social__links {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social__link {
  margin: 0.8rem 2.4rem;
  transition: all 300ms ease;
}

.social__link:active {
  transform: scale(0.8);
}

.fab {
  font-size: 3.2rem;
  color: #fff;
  transition: all 300ms ease;
}

.fab:hover {
  color: #cf9459;
}


.footer__claim {
  font-size: 1.6rem;
  color: #cf9459;
  display: flex;
  justify-content: center;
}




/*

RESPONSIVENESS

*/
/* Large Resoulution */
@media(min-width: 1440px) {
  .hero__img {
    width: 100%;
    max-height: 811px;
  }

  #application {
    background-image: url(./Assets/application.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* 3 : 2 Laptops & Small-Sized Computers */
@media(max-width: 1100px) {
  .header__title {
    font-size: 4.8rem;
  }

  .header__para {
    font-size: 1.6rem;
    font-weight: 700;
  }
}


@media(max-width: 900px) {
  .nav__bar {
    padding: 1em 4em;
  }

  .hero__title {
    font-size: 12rem;
    margin: 1em 0;
  }

  .hero__subtitle {
    font-size: 2.4rem;
  }

  .header__title {
    font-size: 4rem;
  }
  
  .header__para {
    font-size: 1.3rem;
  }

  .application__title {
    font-size: 5.6rem;
    margin-top: 32em;
  }

  .application__subtitle {
    font-size: 2.4rem;
  }

  .address {
    font-size: 1.2rem;
  }
  
  .logo__wrapper--footer {
    padding: 1.6em;
  }
}


/* Large Tablets */
@media(max-width: 768px) {
  .btn__menu {
    display: block;
  }
  
  .nav__container--mobile {
    display: block;
  }

  .nav__link--list {
    display: none;
  }

  .side__info {
    padding: 0 1.6em;
  }

  .fab {
    font-size: 2.4rem;
  }

  .footer__content {
    margin: 2.4em 0;
  }

  .footer__claim {
    margin-top: 3.2em;
  }
}


/* Small Tablets & Large Smart Phones */
@media(max-width: 550px) {
  .form__icon, .form__icons, .address__wrapper {
    display: none;
  }

  .row {
    width: 90%;
    text-align: center;
  }

  .hero__title {
    font-size: 10.4rem;
  }

  .hero__subtitle {
    font-size: 2rem;
    padding: 0 2.4em;
  }

  .header__txt {
    margin: 4em;
  }

  .header__title {
    font-size: 4.8rem;
    line-height: 1.2;
    margin-bottom: 0.8em;
  }

  .header__para {
    align-content: stretch;
  }

  /* RIGHTIES */
  #header,
  #nile-river,
  #aqua,
  #wtr-sprts,
  #architect,
  #people {
    width: 100%;
    margin: 25.6em 0;
    border-top: 4px solid #cf9459;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #header {
    border: none;
  }

  /* LEFTIES */
  #cairo,
  #mount-moses,
  #beaches,
  #safari,
  #cuisine,
  #neo-cities {
    width: 100%;
    margin: 25.6em 0;
    padding-top: 5.6em;
    border-top: 4px solid #cf9459;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  .application__title {
    line-height: 1.4;
  }

  #form__tray {
    position: relative;
    max-width: 380px;
    min-height: 722px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: start;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  #form__success {
    padding-top: 4em;
  }

  #functionality__bar {
    margin: 0 auto;
  }

  .footer__content {
    max-width: 100%;
  }

  .logo__wrapper--footer {
    width: 50%;
  }

  .side__info {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
  }

  .social__links, .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .footer__link {
    margin: 1.2em 0;
  }
}


/* Small Smart Phones */
@media(max-width: 400px) {
  .hero__title {
    font-size: 9rem;
  }

  .header__title {
    font-size: 3.2rem;
  }

  .container {
    max-width: 360px;
  }

  #first__form, #second__form, #form__success {
    max-width: 360px;
  }
  
  .menu__link {
    font-size: 24px;
  }
}